spring:
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/products/**
          filters:
            - StripPrefix=1

        - id: platform-service
          uri: http://localhost:8082
          predicates:
            - Path=/platform/**
          filters:
            - StripPrefix=1
